export K8S_AUTH_KUBECONFIG={{ provisioner.env.K8S_AUTH_KUBECONFIG }}
export KUSTOMIZE_PATH={{ provisioner.env.KUSTOMIZE_PATH }}
export OPERATOR_IMAGE={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.IMG }}
export TEST_OPERATOR_NAMESPACE={{ provisioner.inventory.group_vars.all.Jannah.global.namespace }}
export ANSIBLE_VAULT_DEFAULT_PASS_FILE=$(HOME)/.jannah-operator/ansible_defaultpass.txt
export DOCKER_USERNAME={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.USERNAME }}
export VERSION={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.VERSION }}
export IMG={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.IMG }}
export BUNDLE_IMG={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.BUNDLE_IMG }}
export CATALOG_IMG={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.CATALOG_IMG }}
export IMAGE_TAG_BASE={{ provisioner.inventory.group_vars.all.Jannah.stages.bootstrap.build.IMG }}
